language: go
os: linux
sudo: required

before_script:
- wget https://github.com/neo4j-drivers/seabolt/releases/download/v1.7.3/seabolt-1.7.3-Linux-ubuntu-$(lsb_release -rs).deb
- sudo dpkg -i seabolt-1.7.3-Linux-ubuntu-$(lsb_release -rs).deb
- sudo apt-get install -y libssl-dev pkg-config build-essential make cmake

script:
- go get github.com/jeet-parekh/neo4j || true
- pwd
- mkdir private
- git clone https://$PAT@github.com/jeet-parekh/neo4j-private private
